@use "../globals/colors" as *;
@use "../globals/mixin" as *;
footer {
  padding: 80px 0 0px;
  background-color: #1E212C;
  .footer-bottom {
    background-color: rgba(#fff, .05);
    padding: 20px 0;
    &>div {
      margin-top: 15px;
      display: flex;
      
      justify-content: space-between;
      p {
        color: rgba(#fff, .6);
      }
      a {
        color: rgba(#fff, .6);
        text-transform: uppercase;
       }
    }
    
  }
  @include mobile {
    padding: 40px 0 0;
    .footer-bottom {
      &>div {
        flex-direction: column;
    row-gap: 10px;
      }
    text-align: center;
    justify-content: center;
    }
  }
}

.footer {
  display: flex;
  column-gap: 50px;
  padding-bottom: 20px;
  &__item {
    &:first-child {
      width: 35%;
    }
    width: 14%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    form {
      width: 100%;
      div {
        width: 100%;
        display: flex;
        padding: 9px 10px;
        background: rgba(255, 255, 255, 0.12);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        input[type="email"] {
          border: none;
          width: 80%;
          background-color:transparent;
          &::placeholder {
            color: rgba(#fff, .6);
          }
        }
        input[type="submit"] {
          border: none;
          background-color:transparent;
          color: #fff;
          cursor: pointer;
        }
      }
      p {
        margin-top: 15px;
      }
    }
    &-headline {
      margin-bottom: 20px;
      text-transform: uppercase;
      font-weight: 700;
      color: #fff; 
    }
    .ul {
      display: flex;
      flex-direction: column;
      row-gap: 14px;
      .li {
        a {
          color: rgba(#fff, .6);
          transition: .3s;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .footer-log {
      img {
        display: block;
      }
    }
    .footer-dsc {
      color: rgba(#fff, .6);
    }
    .socials {
      display: flex;
      column-gap: 20px;
      a {
        font-size: 1.4rem;
        color: rgba(#fff, .6);
        transition: .3s;
         &:hover {
          color: #fff;
         }
      }
    }
  }
  @include tablet {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 30px;
    &__item {
      &:first-child {
        width: 80%;
        margin: 0 auto;
        .logo {
          @include center;
          width: 200px;
          margin-right: 0;
        }
        .socials {
          margin: 0 auto;
        }
      }
      width: 80%;
      .ul {
        flex-direction: row;
        justify-content: center;
        column-gap: 10px;
        flex-wrap: wrap;
        row-gap: 15px;
      }
    }
  }
  @include mobile {
    &__item {
      width: 100%;
      margin: 0 auto;
      &:first-child {
        width: 100%;
      margin: 0 auto;
      }
    }
  }
}

